
body {
  font-family: Helvetica
}
  
  #content {
    margin: 5% 30% 0 30%
}
    
.projects img {
  float: left;
  width: 100px;
  height 100px;
  margin 10px;
}
  
.projects {
  min-height: 100px;
}
